.NotFound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.NotFound h2 {
    color: #171A53;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.NotFound h2 a {
    color: #4485ED;
}