.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 80px;
    gap: 32px;
}

.Logo_catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.Buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 290px;
    width: 100%;
    gap: 25px;
}

.Cursor {
    color: rgba(23, 26, 83, 1);
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 1000;
    display: flex;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
}