.Learn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  max-width: 800px;
  width: 100%;
}
.Learn h2 {
  color: var(--system-colors-primary, #171A53);
  -webkit-font-feature-settings: 'clig' off, 'liga' off;
          font-feature-settings: 'clig' off, 'liga' off;
  /* H/H2 */
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.Learn .Learn__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 10px;
}
.Learn .Learn__title .Learn__title_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9.06px;
}
.Learn .Learn__title .Learn__title_wrap p {
  color: #000;
  -webkit-font-feature-settings: 'clig' off, 'liga' off;
          font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 20px;
}

.Aside {
  float: right;
  max-width: 348px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-right: 156px;
  margin-top: 40px;
}
.Aside .Aside__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 42px;
  max-width: 308px;
  width: 100%;
}
.Aside .Aside__container .Aside__container_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 308px;
  width: 100%;
}
.Aside .Aside__container .Aside__container_btns h2 {
  color: var(--system-colors-primary, #171A53);
  -webkit-font-feature-settings: 'clig' off, 'liga' off;
          font-feature-settings: 'clig' off, 'liga' off;
  /* H/H2 */
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.Aside .Aside__container .Aside__container_timing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 49px;
  max-width: 308px;
  width: 100%;
}
.Aside .Aside__container .Aside__container_timing .Aside__container_buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 20px;
}
.Aside .Aside__container .Aside__container_timing .Aside__container_buy h3 {
  color: var(--system-colors-primary, #171A53);
  -webkit-font-feature-settings: 'clig' off, 'liga' off;
          font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.Aside .Aside__container .Aside__container_timing .Aside__container_buy .Buy__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.Aside .Aside__container .Aside__container_timing .Aside__container_buy .Buy__container .Buy__container_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.Aside .Aside__container .Aside__container_timing .Aside__container_buy .Buy__container .Buy__container_flex p {
  color: var(--system-colors-primary-2, rgba(0, 0, 0, 0.8));
  -webkit-font-feature-settings: 'clig' off, 'liga' off;
          font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.Aside .Aside__container .Aside__container_timing .Time__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 19px;
  background: var(--background-colors-gray, #F7F7F7);
  padding: 27px 0px 21px 20px;
  border-radius: 15px;
}
.Aside .Aside__container .Aside__container_timing .Time__container span {
  color: #000;
  -webkit-font-feature-settings: 'clig' off, 'liga' off;
          font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.Aside .Aside__container .Aside__container_timing .Time__container .Time__container_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.Aside .Aside__container .Aside__container_timing .Time__container .Time__container_wrap p {
  color: #000;
  -webkit-font-feature-settings: 'clig' off, 'liga' off;
          font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.Container {
  padding: 70px 0px 50px 72px;
  max-width: 860px;
  width: 100%;
}
.Container .Container__Card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Container .Container__Card .Container__wrap {
  -webkit-filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.05));
  border-radius: 20px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding: 30px 10px 90px 53px;
}
.Container .Container__Card .Container__wrap h3 {
  color: #000;
  -webkit-font-feature-settings: 'clig' off, 'liga' off;
          font-feature-settings: 'clig' off, 'liga' off;
  /* H/H3 */
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.Container .Container__Card .Container__wrap .Container__wrap_inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  justify-self: center;
  gap: 10px;
}
.Container .Container__Card .Container__wrap .Container__wrap_inf li {
  color: #000;
  -webkit-font-feature-settings: 'clig' off, 'liga' off;
          font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 297px;
  width: 100%;
  list-style: disc;
}

.Reward {
  padding: 15px 0px 20px 72px;
  max-width: 866px;
  width: 100%;
}
.Reward .Reward__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.Reward .Reward__container h3 {
  color: var(--system-colors-primary, #171A53);
  -webkit-font-feature-settings: 'clig' off, 'liga' off;
          font-feature-settings: 'clig' off, 'liga' off;
  /* H/H2 */
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.Reward .Reward__container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  gap: 30px;
  row-gap: 10px;
}
.Reward .Reward__container ul li {
  color: var(--system-colors-primary, #171A53);
  -webkit-font-feature-settings: 'clig' off, 'liga' off;
          font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
